In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import re

In [49]:
df=pd.read_csv('./product_info.csv')

In [50]:
df.columns

Index(['product_id', 'product_name', 'brand_id', 'brand_name', 'loves_count',
       'rating', 'reviews', 'size', 'variation_type', 'variation_value',
       'variation_desc', 'ingredients', 'price_usd', 'value_price_usd',
       'sale_price_usd', 'limited_edition', 'new', 'online_only',
       'out_of_stock', 'sephora_exclusive', 'highlights', 'primary_category',
       'secondary_category', 'tertiary_category', 'child_count',
       'child_max_price', 'child_min_price'],
      dtype='object')

In [51]:
df["primary_category"].unique()

array(['Fragrance', 'Bath & Body', 'Mini Size', 'Hair', 'Makeup',
       'Skincare', 'Tools & Brushes', 'Men', 'Gifts'], dtype=object)

In [52]:
df["secondary_category"].unique()

array(['Value & Gift Sets', 'Women', 'Body Moisturizers', 'Fragrance',
       'Men', 'Candles & Home Scents', 'Body Care',
       'Hair Styling & Treatments', 'Shampoo & Conditioner', 'Mini Size',
       'Lip', 'Moisturizers', 'Treatments', 'Eye Care',
       'Lip Balms & Treatments', 'Sunscreen', 'Cleansers', 'Masks',
       'Skincare', 'Face', 'Eye', 'Cheek', 'Hair', 'Tools',
       'Brushes & Applicators', 'Makeup Palettes', 'Beauty Tools',
       'Accessories', 'Makeup', 'Bath & Shower', 'Wellness',
       'High Tech Tools', 'Shop by Concern', nan, 'Self Tanners',
       'Shaving', 'Hair Tools', 'Nail', 'Beauty Accessories',
       'Beauty Supplements', 'Other Needs', 'Bath & Body'], dtype=object)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          8494 non-null   object
 1   product_name        8494 non-null   object
 2   brand_id            8494 non-null   int64
 3   brand_name          8494 non-null   object
 4   loves_count         8494 non-null   int64
 5   rating              8216 non-null   float64
 6   reviews             8216 non-null   float64
 7   size                6863 non-null   object
 8   variation_type      7050 non-null   object
 9   variation_value     6896 non-null   object
 10  variation_desc      1250 non-null   object
 11  ingredients         7549 non-null   object
 12  price_usd           8494 non-null   float64
 13  value_price_usd     451 non-null    float64
 14  sale_price_usd      270 non-null    float64
 15  limited_edition     8494 non-null   int64
 16  new                 8494 non-null   int64
 17  online_only         8494 non-null   int64
 18  out_of_stock        8494 non-null   int64
 19  sephora_exclusive   8494 non-null   int64
 20  highlights          6287 non-null   object
 21  primary_category    8494 non-null   object
 22  secondary_category  8486 non-null   object
 23  tertiary_category   7504 non-null   object
 24  child_count         8494 non-null   int64
 25  child_max_price     2754 non-null   float64
 26  child_min_price     2754 non-null   float64
dtypes: float64(7), int64(8), object(12)
memory usage: 1.7+ MB

In [54]:
df.head()

,product_id,product_name,brand_id,brand_name,loves_count,rating,reviews,size,variation_type,variation_value,...,online_only,out_of_stock,sephora_exclusive,highlights,primary_category,secondary_category,tertiary_category,child_count,child_max_price,child_min_price
0,P473671,Fragrance Discovery Set,6342,19-69,6320,3.6364,11.0,NaN,NaN,NaN,...,1,0,0,"['Unisex/ Genderless Scent', 'Warm &Spicy Scen...",Fragrance,Value & Gift Sets,Perfume Gift Sets,0,NaN,NaN
1,P473668,La Habana Eau de Parfum,6342,19-69,3827,4.1538,13.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,85.0,30.0
2,P473662,Rainbow Bar Eau de Parfum,6342,19-69,3253,4.2500,16.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0
3,P473660,Kasbah Eau de Parfum,6342,19-69,3018,4.4762,21.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0
4,P473658,Purple Haze Eau de Parfum,6342,19-69,2691,3.2308,13.0,3.4 oz/ 100 mL,Size + Concentration + Formulation,3.4 oz/ 100 mL,...,1,0,0,"['Unisex/ Genderless Scent', 'Layerable Scent'...",Fragrance,Women,Perfume,2,75.0,30.0

In [55]:
df.describe()

,brand_id,loves_count,rating,reviews,price_usd,value_price_usd,sale_price_usd,limited_edition,new,online_only,out_of_stock,sephora_exclusive,child_count,child_max_price,child_min_price
count,8494.000000,8.494000e+03,8216.000000,8216.000000,8494.000000,451.000000,270.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,2754.000000,2754.000000
mean,5422.440546,2.917957e+04,4.194513,448.545521,51.655595,91.168537,20.207889,0.070285,0.071698,0.219096,0.073699,0.279374,1.631622,53.792023,39.665802
std,1709.595957,6.609212e+04,0.516694,1101.982529,53.669234,79.195631,24.327352,0.255642,0.258002,0.413658,0.261296,0.448718,5.379470,58.765894,38.685720
min,1063.000000,0.000000e+00,1.000000,1.000000,3.000000,0.000000,1.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
25%,5333.000000,3.758000e+03,3.981725,26.000000,25.000000,45.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,19.000000
50%,6157.500000,9.880000e+03,4.289350,122.000000,35.000000,67.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000,28.000000
75%,6328.000000,2.684125e+04,4.530525,418.000000,58.000000,108.500000,25.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,59.000000,42.000000
max,8020.000000,1.401068e+06,5.000000,21281.000000,1900.000000,617.000000,320.000000,1.000000,1.000000,1.000000,1.000000,1.000000,105.000000,570.000000,400.000000

In [56]:
df.shape

(8494, 27)

In [57]:
df.isnull().sum()

product_id               0
product_name             0
brand_id                 0
brand_name               0
loves_count              0
rating                 278
reviews                278
size                  1631
variation_type        1444
variation_value       1598
variation_desc        7244
ingredients            945
price_usd                0
value_price_usd       8043
sale_price_usd        8224
limited_edition          0
new                      0
online_only              0
out_of_stock             0
sephora_exclusive        0
highlights            2207
primary_category         0
secondary_category       8
tertiary_category      990
child_count              0
child_max_price       5740
child_min_price       5740
dtype: int64

In [58]:
#supprimer les colonnes qui sont presque vide
cols_to_drop = ['value_price_usd', 'sale_price_usd', 'variation_desc', 'child_max_price', 'child_min_price']
df = df.drop(columns=cols_to_drop, errors='ignore')

In [59]:
# REVIEWS  : Toujours 0 si vide
df['reviews'] = df['reviews'].fillna(0)

In [60]:
global_mean_rating = round(df['rating'].mean(), 2)
def fill_rating(row):
        # Si la note existe déjà, on la garde
        if pd.notnull(row['rating']) and row['rating'] != 0:
            return row['rating']

        # Si la note est manquante (ou 0) :
        if row['new'] == 1:
            return global_mean_rating # C'est nouveau -> On encourage (Note Moyenne)
        else:
            return 0 # C'est vieux et sans avis -> On pénalise (0)
df['rating'] = df.apply(fill_rating, axis=1)

In [61]:
df['highlights'].unique()

array(["['Unisex/ Genderless Scent', 'Warm &Spicy Scent', 'Woody & Earthy Scent', 'Fresh Scent']",
       "['Unisex/ Genderless Scent', 'Layerable Scent', 'Warm &Spicy Scent']",
       "['Unisex/ Genderless Scent', 'Layerable Scent', 'Woody & Earthy Scent']",
       ...,
       "['Best for Oily, Combo, Normal Skin', 'Without Parabens', 'Without Mineral Oil', 'Matte Finish', 'Salicylic Acid']",
       "['Natural Finish', 'Without Mineral Oil', 'Without Parabens']",
       "['Hyaluronic Acid', 'High Shine Finish', 'Plumping', 'Hydrating', 'Medium Coverage']"],
      shape=(4418,), dtype=object)

In [62]:
def clean_texts(text):
    original_text = text
    if pd.isna(text) or not str(text).strip() or str(text).strip().lower() == 'aucun':
        return "aucun"

    text_str = str(text).strip()


    if text_str.startswith("[") and text_str.endswith("]"):
        try:
            parsed_list = ast.literal_eval(text_str)
            if isinstance(parsed_list, list) and all(isinstance(item, str) for item in parsed_list):

                return ", ".join(item.strip() for item in parsed_list).lower()
            else:
                pass
        except (ValueError, SyntaxError) as e:
            pass

    tags = re.findall(r"['\"]([^'\"]*)['\"]", text_str)
    if tags:
        return ", ".join(tag.strip() for tag in tags).lower()
    return text_str.lower()

df['highlights'] = df['highlights'].apply(clean_texts)

# Display unique values to verify the transformation
df['highlights'].unique()

array(['unisex/ genderless scent, warm &spicy scent, woody & earthy scent, fresh scent',
       'unisex/ genderless scent, layerable scent, warm &spicy scent',
       'unisex/ genderless scent, layerable scent, woody & earthy scent',
       ...,
       'best for oily, combo, normal skin, without parabens, without mineral oil, matte finish, salicylic acid',
       'natural finish, without mineral oil, without parabens',
       'hyaluronic acid, high shine finish, plumping, hydrating, medium coverage'],
      shape=(4418,), dtype=object)

In [63]:
df['ingredients']=df['ingredients'].apply(clean_texts)
df['ingredients'].head()

<unknown>:1: SyntaxWarning: invalid escape sequence '\A'
<unknown>:1: SyntaxWarning: invalid escape sequence '\A'
<unknown>:1: SyntaxWarning: invalid escape sequence '\A'

0    capri eau de parfum:, alcohol denat. (sd alcoh...
1    alcohol denat. (sd alcohol 39c), parfum (fragr...
2    alcohol denat. (sd alcohol 39c), parfum (fragr...
3    alcohol denat. (sd alcohol 39c), parfum (fragr...
4    alcohol denat. (sd alcohol 39c), parfum (fragr...
Name: ingredients, dtype: object

In [64]:
def standardize_size(size):
    if pd.isna(size):
        return None
    size_str = str(size).lower()
    
    # Convertir toutes les unités en oz ou mL
    if 'oz' in size_str and 'ml' not in size_str:
        # Garder le format oz
        return re.sub(r'[^\d. oz/]', '', size_str).strip()
    elif 'ml' in size_str or 'mL' in size_str:
        # Extraire la valeur numérique
        match = re.search(r'(\d+(?:\.\d+)?)\s*(?:ml|mL)', size_str)
        if match:
            ml_value = float(match.group(1))
            # Convertir en oz si < 30ml pour standardisation
            if ml_value < 30:
                oz_value = ml_value / 29.5735
                return f"{oz_value:.1f} oz"
            else:
                return f"{ml_value} mL"
    return size_str

df['size'] = df['size'].apply(standardize_size)

# --- Créer des colonnes numériques pour la taille ---
def extract_numeric_size(size):
    if pd.isna(size):
        return None
    match = re.search(r'(\d+(?:\.\d+)?)', str(size))
    return float(match.group(1)) if match else None

df['size_numeric'] = df['size'].apply(extract_numeric_size)
df['size_unit'] = df['size'].apply(lambda x: 'oz' if x and 'oz' in str(x).lower() else ('mL' if x and 'ml' in str(x).lower() else 'unit'))

In [65]:
df[['secondary_category', 'tertiary_category']] = df[['secondary_category', 'tertiary_category']].fillna('')

In [66]:
df['size'].unique()

array([None, '100.0 mL', '0.3 oz', ..., '.11 oz / 3.2', '0.1 oz / 2.8',
       '2.6 oz'], shape=(1040,), dtype=object)

In [67]:
# --- CRÉATION DE GROUPES DE NOTES ---

def categorize_rating(score):
    # Si le produit est "Top" (4.5 et plus)
    if score >= 4.5:
        return 'Top Rated'
    # Si le produit est "Bon" (entre 3.5 et 4.5)
    elif score >= 3.5:
        return 'Good'
    # Le reste (moins de 3.5, incluant les 0/Nouveaux)
    else:
        return 'Average'

print("Création de la colonne 'rating_group'...")
df['rating_group'] = df['rating'].apply(categorize_rating)

Création de la colonne 'rating_group'...

In [68]:
columns_to_keep = [
    'product_id', 'product_name', 'brand_name',
    'price_usd', 'size',
    'rating', 'reviews', 'loves_count',
    'ingredients', 'highlights',
    'primary_category', 'secondary_category', 'tertiary_category',
    'new', 'out_of_stock','rating_group'
]

df_final = df[columns_to_keep]

In [69]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8494 entries, 0 to 8493
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          8494 non-null   object
 1   product_name        8494 non-null   object
 2   brand_name          8494 non-null   object
 3   price_usd           8494 non-null   float64
 4   size                6863 non-null   object
 5   rating              8494 non-null   float64
 6   reviews             8494 non-null   float64
 7   loves_count         8494 non-null   int64
 8   ingredients         8494 non-null   object
 9   highlights          8494 non-null   object
 10  primary_category    8494 non-null   object
 11  secondary_category  8494 non-null   object
 12  tertiary_category   8494 non-null   object
 13  new                 8494 non-null   int64
 14  out_of_stock        8494 non-null   int64
 15  rating_group        8494 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 1.0+ MB

As you can see from the `df_final.info()` output above, columns like `product_name`, `brand_name`, `size`, `ingredients`, `highlights`, `primary_category`, `secondary_category`, and `tertiary_category` are of `object` type. While we've already cleaned `ingredients` and `highlights` by converting them to lowercase and joining lists, they are still essentially strings and need further processing for most NLP models.

For NLP tasks, you'll typically need to perform steps like:

*   **Tokenization**: Breaking down text into individual words or sub-word units.
*   **Removing Stop Words**: Eliminating common words (like 'the', 'a', 'is') that don't add much meaning.
*   **Stemming/Lemmatization**: Reducing words to their base or root form.
*   **Vectorization**: Converting text into numerical representations (e.g., TF-IDF, Word Embeddings like Word2Vec, GloVe, or transformer-based embeddings) that machine learning models can understand.

The specific steps depend on your exact NLP goal (e.g., sentiment analysis, topic modeling, text classification, recommendation systems).

In [70]:
df_final.to_csv('product_info_cleaned.csv', index=False)